:root {
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --primary-text-color: #FFF;
  --secondary-text-color: #8E95A9;
  --hover-text-color: #A8AEBF;
  --grey-text-color: #767E94;
  --background-color: #121829CC;
  --orange-text-color: #FFAD49;
  --background-color-rating: #000000A6;
  --grey50-color-text: #EBEEF5;
  --blue-color-hover: #8077d6;
  --succes-color: #00C48C;
  --button-favotite-color: #7B6EF6;
  --search-title: #BEB7FB;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

a:hover {
  color: var(--grey-text-color);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background-color);
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 120px;
}