.headling {
  margin-bottom: 24px;
  max-width: 588px;
  text-align: left;
}

.headling-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  margin: 0;
  color: var(--grey50-color-text);
}