.card {
	position: relative;
	border-radius: 8px;
	background: #20283ECC;
	padding: 8px;
	height: 500px;
	width: 267px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.favorite-score {
	position: absolute;
	top: 16px;
	left: 16px;
	background: var(--background-color);
	border-radius: 8px;
	padding: 4px;
	color: var(--orange-text-color);
	display: flex;
	gap: 4px;
	align-items: center;
}

.favorite-score__cover{
	width: 100%;
	height: 380px;
	object-position: center;
	object-fit: cover;
	display: block;
}

.card__text {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2%;
	color: var(--grey50-color-text);
}

.card__button {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2%;
	color: var(--button-favotite-color);
	cursor: pointer;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 8px;
}