.error{
margin: 0 auto;
text-align: center;
}

.error__title{
font-weight: 600;
font-size: 48px;
line-height: 56px;
color: var(--grey50-color-text);
margin-bottom: 20px;
}

.error__text{
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: var(--grey-text-color);
	margin: 0;
} 