.search-form__input {
	border-radius: 12px;
	border: 1px solid #323B54;
	padding: 22px 16px;
	min-width: 384px;
	background: inherit;
	padding-left: 32px;
}

.search-form__input::placeholder {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	padding-left: 16px;
	color: #475069;
}

.search-form__input-error {
	border: 1px solid rgb(202, 95, 24);
}

.error-text::placeholder {
	color: rgb(202, 95, 24);
	font-style: italic;
	font-size: 18px;
}

.search-form__input {
	padding-left: 32px;
}

.search-form__input-error::placeholder {
	color: rgb(202, 95, 24);
	font-style: italic;
	font-size: 18px;
}